<template name="Board">
  <div id="board" class="wrapper wrapper-content animated fadeInRight">
    {{#if activeCommunity}}
    <div class="row">

      {{!-- SMART atalakitas: Fooldal = kovetkezo kozgyules felul + szavazasok
            + faliujsag; forum-folyam es egyenleg-widget eltavolitva --}}
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        {{#with nextAgenda}}
        <div class="ibox next-assembly">
        <div class="ibox-title">
            <h3><i class="fa fa-legal"></i>{{#if isUpcomingAgenda this}}{{_ 'Next assembly'}}{{else}}{{_ 'Previous assembly'}}{{/if}}</h3>
        </div>
        <div class="ibox-content">
            {{#if this.scheduledAt}}
            <div class="assembly-date">{{displayTime this.scheduledAt}}</div>
            {{/if}}
            {{#if this.title}}<div class="assembly-title">{{this.title}}</div>{{/if}}
            {{#with agendaTopics this}}
            {{#if this.length}}
            <div class="assembly-agenda">
                <strong>{{_ 'Agenda points'}}</strong>
                <ol>
                    {{#each t in this}}
                    <li>{{t.title}} {{> Attachments doc=t}}</li>
                    {{/each}}
                </ol>
            </div>
            {{/if}}
            {{/with}}
        </div>
        </div>
        {{/with}}
        {{!-- SMART atalakitas: a bezs inline szavazodoboz SEHOL nem jelenik
             meg - szavazni a felugro elo-szavazasban lehet (Live_Vote);
             ezert az Aktiv szavazasok szekcio kikerult a Fooldalrol --}}

        {{!-- SMART atalakitas: faliujsag (News) - a KK szerkeszti --}}
        {{> News}}

      </div>

    </div>
    {{/if}}
  </div>
</template>

<template name="News_topic">
    <div class="feed-element">
        <div class="news-elem" data-id="{{doc._id}}">
            <small class="pull-right text-navy" title={{displayTime doc.createdAt}}>{{displayTimeFrom doc.createdAt}}</small>
            <strong>{{doc.title}}</strong>
            <div>{{>ChoppedHeight text=doc.text height=400 markdown=true}}</div>
            <!-- {{#if photo}}<img src="{{absoluteUrl photo}}" class="img-embed">{{/if}} -->
            {{>Attachments doc=doc}}
            {{#if currentUserHasPermission 'news.update'}}
            <div class="pull-right m-t-sm">
              {{>Action_buttons_group collection='topics' doc=doc actions=actions size='lg'}}
            </div>
            {{/if}}
        </div>
    </div>
</template>

<template name="News">
    {{#Collapse_section id='news' title='News board' }}
    <div class="ibox float-e-margins">
      <div class="ibox-content">
          <div class="feed-activity-list">
              <div class="text-right">
                  {{>Action_buttons_group collection='topics' actions='create' options=(obj '{ "entity": "news" }') size='md'}}
              </div>
              {{#each topics 'news' false}}
                  {{>News_topic doc=this actions='edit,archive,delete'}}
              {{/each}}
                  <div class="news-elem" >
                      <div class="pull-right vote-info">
                          <a class="js-show-archive">{{_ 'archived'}}</a>
                      </div>
                  </div>
              {{#if archivedNews.count}}
                  <div class="feed-element">
                  </div>
                  {{#each archivedNews}}
                      {{>News_topic doc=this actions='delete'}}
                  {{/each}}
              {{/if}}
          </div>
      </div>
    </div>
    {{/Collapse_section}}
<!-- sticky news -->
    {{#each topics 'news' true}}
    <div class="ibox infos">
    <div class="ibox-content">
        {{>News_topic doc=this actions='edit,archive,delete'}}
    </div>
    </div>
    {{/each}}
</template>
